@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gridBorder: rgba(150, 150, 160, 1);

  --dead: "#fafaf9";
  --alive: rgba(250, 100, 100, 1);
}

.gameButton{
  color: "#fafaf9";
  border: 1px solid var(--gridBorder);
}

[data-state*="dead"]{
    background-color: var(--dead);
}
  
[data-state*="alive"]{
    background-color: var(--alive);
}